.nestedObjectButton {
    @extend .clickableField;
    cursor: pointer;
}
.clickableField {
    @extend .field;
    text-decoration:none;
    color: black;
    transition: color 0.5s;
}
.field {
    margin: 2px;
}

.clickableField:hover {
    color: #18aec7;
}